{% extends "merchant/index.twig" %}

{% block title %}Админка::Список продуктов{% endblock %}

{% block content %}

<div class="btn-toolbar">
  
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-check"></i> Выделенные <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Скрыть</a></li>
      <li><a href="#">Показать</a></li>
      <li class="divider"></li>
      <li><a href="#">Удалить</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a class="btn btn-success" href="#addProduct" role="button" data-toggle="modal">Добавить продукт</a>
    <a class="btn" href="#loadCatalog" role="button" data-toggle="modal">Загрузить каталог</a>
  </div>
</div>

<table id="product-list" class="table table-striped">
  <thead>
    <tr>
      <th><input type="checkbox" onchange="if ($(this).attr('checked')=='checked') {$('#product-list input').attr('checked', 'checked')} else {$('#product-list input').removeAttr('checked')}"></th>
      <th>ИД</th>
      <th>Наименование</th>
      <th>Описание</th>
      <th>Продуктов</th>
      <th>Базовая цена</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <td><input type="checkbox"></td>
      <td>{{ product.id }}</td>
      <td>{{ product.name|e }}</td>
      <td></td>
      <td></td>
      <td>{{ product.base_price }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<div id="addProduct" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Добавить продукт</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

<div id="loadCatalog" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Загрузить каталог</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

{% endblock %}