

.paved{
    border-bottom: 1px solid;
    border-right: 1px solid; 
}
.paved .pave3, .paved .pave6{
    margin: 0;
    display: inline;  
}
.paved .pave3.left .inner, .paved .pave6.left .inner{
    float: left; 
}
.paved .pave3.right .inner, .paved .pave6.right .inner{
    float: right; 
}

.paved .pave3 .outer, .paved .pave6 .outer{
    border-top: 1px solid;
    border-left: 1px solid;
    height: 100%;
    width: 100%;
}

.paved .pave3 .inner{
    height: 140px;
    width: 290px;
}
.paved .pave6 .inner{
    height: 280px;
    width: 580px;
}

.paved, .paved .pave3 .outer, .paved .pave6 .outer{
    border-color: #C0C0C0;
}