  
.paved .span3.right, .paved .span6.right{
    float: right;
}
.paved .span3{
    height: 140px;
    width: 290px;
    margin: 0; 
    background: #FFFFC0;
}
.paved .span6{
    height: 280px;
    width: 580px;
    margin: 0;
    background: #F0F0F0;
}